@import url('reset.css');

    body{
        font-family: 'Inter', 'Noto Sans TC', Arial;
        background-color: #F8F8F8;
    }

    h1{
        font-size: 32px;
        font-weight: bold;
    }

    h2{
        font-size: 28px;
        font-weight: bold;
    }

    h3{
        font-size: 24px;
        font-weight: bold;
    }

    h4{
        font-size: 20px;
    }

    h5{
        font-size: 16px;
    }

    h6{
        font-size: 13px;
        color: #7D7D7D;
        font-weight: 400;
    }

    p{
        font-size: 16px;
    }

    i{
        margin-right: 4px;
        font-size: 16px;
    }

    svg{
        margin-right: 4px;
        font-size: 16px;
        text-align: center;
    }

    button{
        background: none;
        cursor: pointer;
        border: none;
    }

    

/* Header-------------------------------------- */
    header{
        background-color: #304296;
        
    }

    .headerWrapper{
        max-width: 1280px;
        /* margin-left: calc((100vw - 1280px)/2); */
        margin: 0 auto;
        display: flex;
        padding: 0 80px;
        transition: padding 0.5s ease;   
    }

    header img{
        height: 50px;
    }

    header h4{
        display: none;
    }

    .user{
        display: flex;
        margin: auto 0;
        margin-left: auto;
    }

    header a{
        color: #fff;
        display: flex;
        /* flex-grow: 1; */
        text-decoration: none;
        margin-right: 16px;
    }


    .steps{
        width: 544px;
        height: 70px;
        /* border: 2px solid#012064; */
        overflow: hidden;
        margin: 64px auto;
    }

    .steps img{
        width: 100%;
    }

    /* main------------------------------------ */
    .mainWrapper{
        width: 1280px;
        /* transform: scale(0.8); */
        margin: 0 auto;
        padding: 0 80px;
        transition: padding 0.5s ease; 
        min-height: 100vh;
    }

    .mainWrapper .title{
        color: #012064;
        font-weight: bold;
        margin-bottom: 32px;
    }

    .mainWrapper > :nth-child(3){
        margin-bottom: 128px;
    }
    /* 去程卡片------------------------------- */
    .depart .title {
        display: flex;
        margin-bottom: 8px;
        justify-content: space-between;
        align-items: flex-end;
    }
    
    .depart .title h5 {
        font-weight: normal;
    }
    
    .depart .card {
        display: flex;
        background-color: #fff;
        border-radius: 8px;
        margin-bottom: 64px;
        padding: 54px 40px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.10));
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }
    
    .depart .left {
        display: flex;
        width: 618px;
    }
    
    .depart h2 {
        color: #223F9A;
    }
    
    .depart .card h5 {
        margin-top: 8px;
        color: #898989;
    }

    .depart .left{
        align-items: center;
    }

    .depart .start {
        min-width: 146px;
    }

    .depart .startTime{
        display: flex;
    }

    .depart .trip {
        margin: 0 16px;
        width: 100%;
    }

    .depart .arrive {
        text-align-last: right;
        min-width: 146px;
    }

    .depart .arriveTime{
        display: flex;
        justify-content: flex-end;
    }
    
    .depart .time {
        justify-content: center;
    }
    
    .depart .line {
        margin: 4px 0;
    }
    
    .depart .middle {
        margin: 0 64px;
        min-width: 84px;
    }
    
    .depart button {
        background-color: #DDE2F5;
        border-radius: 8px;
        width: 256px;
        height: 52px;
    }
    
    .depart a {
        text-decoration: none;
        color: #223F9A;
        font-weight: bold;
    }

    /* 確認卡片------------------------------- */
    .confirm{
        width: 100%;
        background-color: white;
        border-radius: 8px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.10));
        display: flex;
        padding: 40px;
        box-sizing: border-box;
        align-items: center;
        /* justify-content: space-between; */
    }

    .confirmWrapper{
        display: flex;
        justify-content: space-between;
        color: #223F9A;
        width: 100%;
    }

    .confirm button{
        background-color: #223F9A;
        border-radius: 8px;
        min-width: 256px;
        height: 52px;
        margin-left: 40px;
    }

    .milagePrice{
        display: flex;
        align-items: baseline;
    }

    .milagePrice h4{
        margin-right: 4px;
    }


    .confirm button a{
        color: white;
        text-decoration: none;
    }

    .confirm span{
        font-size: 20px;
    }

    /* 完整航班細節popup---------------------- */

    .fullDetail{
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
        backdrop-filter: blur(1px);
        position: fixed;
        z-index: 5;
        left: 0;
        top: 0;
        padding: 0 80px;
        box-sizing: border-box;

        display: none;
        transition: padding 0.5s ease; 
    }

    .fullDetailWrapper{
        display: flex;
        background-color: #fff;
        width: 100%;
        max-width: 1280px;
        justify-content: space-around;
        border-radius: 16px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 48px 32px;
        box-sizing: border-box;
        position: relative;
        overflow-y: auto;
    }

    .fullDetail .close-icon{
        position: absolute;
        right: 16px;
        top: 16px;
        color: #223F9A;
        font-size: 32px;
        cursor: pointer;
    }

    .fullDetailLeft{
        width: 600px;

    }
    .fullDetailLeft > :first-child{
        text-align: center;
        color: #223F9A;
        margin-bottom: 24px;
    }

    .fullDetailLeft .stops {
        background-color: #F1F6FF;
        padding: 24px 34px;
        border-radius: 8px;
    }

    .fullDetail .title{
        display: flex;
        margin-bottom: 8px;
        justify-content: space-between;
        align-items: end;
    }

    .fullDetailLeft .stops h5{
        color: #898989;
    }

    .fullDetail .title h5{
        font-weight: normal;
    }

    .fullDetail h2{
        color: #223F9A;
    }
    
    .fullDetail .flightNo{
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
    }

    .fullDetail .flightNo :first-child{
        color: #012064;
        font-weight: bold;
    }

    .fullDetail img{
        height: 16px;
    }

    .fullDetail .content{
        display: flex;
        margin-top: 24px;
    }

    .fullDetail .startTime{
        display: flex;
        min-width: 146px;
        margin-bottom: 8px;
    }

    .fullDetail .arrive{
        text-align: right;
    }

    .fullDetail .arriveTime{
        display: flex;
        min-width: 146px;
        justify-content: end;
        margin-bottom: 8px;
    }

    .fullDetail .trip{
        width: 100%;
        margin: auto 0;
    }

    .fullDetail .time{
        display: flex;
        justify-content: center;
    }

    .fullDetail .line{
        margin: 4px 0;
    }

    .fullDetail p{
        margin-bottom: 0px;
        padding-left: 8px;
    }

    .fullDetail .list{
        background-color: #F1F6FF;
        border-radius: 8px;
        padding: 32px 32px 1px 32px;
        box-sizing: border-box;
    }

    .fullDetail .divider{
        width: 1px;
        height: 400px;
        background-color: #DADADA;
        margin: auto 0;
    }

    .fullDetailRight{
        width: 310px;
    }

    .fullDetailRight > :first-child{
        text-align: center;
        color: #223F9A;
        margin-bottom: 32px;
    }

    .fullDetailRight .compItem{
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;
    }

    .fullDetailRight .item{
        display: flex;
        align-items: center;
    }

    .fullDetailRight p{
        color: #012064;
    }
    
    .fullDetail .upgrade{
        display: flex;
        justify-content: space-between;
    }

   
    /* 航班 卡片---------------------------------------- */
    
    .filter{
        margin-bottom: 12px;
        color: #A1A1A1;
    }

    .tickets > li{
        margin-bottom: 32px;
    }

    .tickets .card{
        display: flex;
        background-color: #fff;
        /* outline: 1px solid red; */
        border-radius: 8px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.10) );
    }

    .infoWrapper{
        /* width: 572px; */
        padding: 66px 46px;
        position: relative;
        cursor: pointer;
        /* margin: auto; */
    }

    .tickets .flightNo{
        display: flex;
        position: absolute;
        top: 18px;
        left: 16px;
        color: #A1A1A1;
    }
    
    .info{
        color: #223F9A;
        width: 480px;
    }

    .info div{
        display: flex;
        justify-content: space-between;
    }

    .time{
        color: #7488C2;
    }

    .time h4{
        color: #304296;
    }

    .info2{
        align-items: flex-start;
    }

    .line{
        background-color: #7488C2;
        border-radius: 3px;
        margin: 4px 16px;
        width: 100%;
        height: 3px;
   }

   
/* 航班細節overlay-------------------------------- */

.flightDetail{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    backdrop-filter: blur(1px);
    position: fixed;
    left: 0;
    top: 0;

    display: none;
}

.flightDetail .popup{
    width: 774px;
    /* height: 326px; */
    background-color: #fff;
    border-radius: 16px;
    padding: 48px 44px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}

.popup > i {
    position: absolute;
    font-size: 32px;
    color: #223F9A;
    top: 8px;
    right: 8px;
    margin: 0;
    cursor: pointer;
}

.flightDetail .title{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 8px;
    color: #012064;
}

.flightDetail .content{
    background-color: #F1F6FF;
    border-radius: 8px;
    padding: 24px 34px 40px 34px;
}

.flightDetail .top{
    display: flex;
    margin-bottom: 36px;
    color: #898989;
    justify-content: space-between;
}

.flightDetail .airline{
    display: flex;
    font-weight: bold;
    color: #012064;
}

.flightDetail img{
    height: 16px;
}

.flightDetail .bottom{
    display: flex;
    margin: 0 auto;
    /* width: 618px; */
}

.flightDetail .bottom div{
    /* margin: 0 30px; */
    flex-grow: 1;
}

.flightDetail .bottom h5{
    color: #898989;
}

.flightDetail h2{
    color: #223F9A;
}

.flightDetail .depart{
    min-width: 140px;
}

.flightDetail .depart > :nth-child(2){
    margin-bottom: 8px;
}

.flightDetail .arrive{

}

.flightDetail .arrive > :nth-child(2){
    margin-bottom: 8px;
}

.flightDetail .trip{
    margin-top: 12px;
    flex-grow: 2;
    width: 100%;
}

.flightDetail .trip .time{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.flightDetail .trip .line{
    margin: 0;
    width: 100%;
}

.flightDetail .arrive{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 140px;
}

/* popup手機版----------------------------------- */
.bottomMobile{
    display: flex;
    display: none;
    justify-content: center ;
    gap: 16px;
}

.left .time{
    display: flex;
    margin-bottom: 0;
}

.bottomMobile .left{
    text-align: right;
}

.bottomMobile .left :nth-child(1){
    margin-bottom: 40px;
}


.bottomMobile .middle{
    width: 4px;
    margin-bottom: 16px;
    border-radius: 4px;
    background-color: #7488C2;
}

.bottomMobile .depart{
    margin-bottom: 80px;
}

.bottomMobile .arrive{
    text-align-last: left;
    align-items: flex-start;
}

/* footer----------------------------------------- */
footer{
    background-color: #304296;
    margin-top: 128px;
}

.footerWrapper{
    display: flex;
    margin: 0 auto;
    max-width: 1280px;
    height: 50px;
    align-items: center;
    padding: 0 80px;
    transition: padding 0.5s ease; 
}

footer img{
    height: 30px;
    margin-left: 16px;
}

footer h6{
    color: #fff;
    margin-left: auto;
    margin-right: 16px;
}

/* 動畫------------------------------------------------- */

/* 票等hover------------------------------------- */
.card{
    overflow: hidden;
    transition: transform 0.7s ease-out,filter 0.7s ease-out;
}

.card > *{
    z-index: 2;
}

.card .arriveBg {
    position: absolute;
    left: 0;
    width: 100%;
    height: 200%;
    background-image: url('../img/plane-arrival-solid.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 375px 281px;
    transition: transform 0.7s ease-out, opacity 0.7s ease;
    transform: translateY(-20px);
    opacity: 0;
    z-index: 0;

}

.card:hover .arriveBg {
    transform: translateY(30px);
    opacity: 1;
}

.card .departBg {
    position: absolute;
    left: 0;
    width: 100%;
    height: 200%;
    background-image: url('../img/plane-departure-solid.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 375px 281px;
    transition: transform 0.7s ease-out, opacity 0.7s ease;
    transform: translateY(130px);
    opacity: 0;
    z-index: 0;
}

.card:hover .departBg {
    transform: translateY(30px);
    opacity: 1;
}

.card:hover{
    transform: scale(1.01);
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.10));
}

/* 按鈕hover--------------------------------------- */
.scrollLeft:hover{
    background-color: #f4f4f4;
    /* background: linear-gradient(to left, #e6ecff, white); */
}
.scrollRight:hover{
    background-color: #f4f4f4;
    /* background: linear-gradient(to left, white, #e6e6e6); */
}

/* 艙等hover--------------------------------------- */
.econ .priceLine {
    transition: background-color 0.3s ease-in-out;
}
.econ:hover .priceLine {
    background-color: #6B85D4;
}

.econPrem .priceLine {
    transition: background-color 0.3s ease-in-out;
}
.econPrem:hover .priceLine {
    background-color: #6C84B8;
}

.busi .priceLine {
    transition: background-color 0.3s ease-in-out;
}
.busi:hover .priceLine {
    background-color: #DF7477;
}

.first .priceLine {
    transition: background-color 0.3s ease-in-out;
}
.first:hover .priceLine {
    background-color: #af53d9;
}