@import url('reset.css');

    body{
        font-family: 'Inter', 'Noto Sans TC', Arial;
        background-color: #F8F8F8;
    }

    h2{
        font-size: 28px;
        font-weight: bold;
    }

    h3{
        font-size: 24px;
        font-weight: bold;
    }

    h4{
        font-size: 20px;
    }

    h5{
        font-size: 16px;
    }

    h6{
        font-size: 13px;
        color: #7D7D7D;
        font-weight: 400;
    }

    p{
        font-size: 16px;
    }

    i{
        margin-right: 4px;
        font-size: 16px;
    }

    svg{
        margin-right: 4px;
        font-size: 16px;
        text-align: center;
    }

    button{
        background: none;
        cursor: pointer;
        border: none;
    }

    

/* Header-------------------------------------- */
    header{
        background-color: #304296;
        
    }

    .headerWrapper{
        max-width: 1280px;
        /* margin-left: calc((100vw - 1280px)/2); */
        margin: 0 auto;
        display: flex;
        padding: 0 80px;
        transition: padding 0.5s ease;   
    }

    header img{
        height: 50px;
    }

    header h4{
        display: none;
    }

    .user{
        display: flex;
        margin: auto 0;
        margin-left: auto;
    }

    header a{
        color: #fff;
        display: flex;
        /* flex-grow: 1; */
        text-decoration: none;
        margin-right: 16px;
    }


    .steps{
        width: 544px;
        height: 70px;
        /* border: 2px solid#012064; */
        overflow: hidden;
        margin: 64px auto;
    }

    .steps img{
        width: 100%;
    }

    /* main------------------------------------ */
    .mainWrapper{
        width: 1280px;
        min-height: 100vh;
        /* transform: scale(0.8); */
        margin: 0 auto;
        padding: 0 80px;
        transition: padding 0.5s ease; 
    }

    .mainWrapper .title{
        color: #012064;
        font-weight: bold;
        margin-bottom: 32px;
    }

    /* 選天----------------------------------- */
    .daySel{
        width: 100%;
        height: 104px;
        border-radius: 8px;
        background-color: #fff;
        margin-bottom: 32px;
        justify-content: space-between;
        display: flex;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.10) );
    }

    .dayWrapper {
        display: flex;
        gap: 8px;
        padding: 9px 0;
        box-sizing: border-box;
        overflow-x: auto;
        /* scroll-behavior: smooth; */
        flex: 1;
    }
    
    .dayWrapper li {
        cursor: pointer;
        color: #7D7D7D;
        min-width: 160px;
        height: 100%;
        text-align: center;
        padding: 22px 0;
        box-sizing: border-box;
        border-radius: 8px;
        flex: 0 0 auto;
    }
    
    .dayWrapper::-webkit-scrollbar {
        display: none;
    }

    .dayWrapper li.selected {
        background-color: #DDE2F5;
        color: #223F9A;
        font-weight: bold;
    }

    .daySel button{
        min-width: 56px;
        padding: 0;
    }

    /* .dayWrapper li:nth-child(4){
        background-color:#DDE2F5;
        color: #223F9A;
        font-weight: bold;
    } */
    
    .dayWrapper h4{
        margin-bottom: 8px;
    }

    /* 手機版艙等頁籤----------------------------------- */
    .classMobile {
        width: 100%;
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 32px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: none;
    }
    
    .tab {
        display: flex;
        width: 100%;
    }
    
    .tab-item {
        flex: 1;
        text-align: center;
        padding: 20px 0;
        box-sizing: border-box;
        cursor: pointer;
    }
    
    .tab-item h4 {
        font-size: 20px;
        font-weight: bold;
        margin: 0 0 8px 0;
    }
    
    .tab-item p {
        font-size: 16px;
        margin: 0;
    }
    
    .tab-item span {
        font-size: 24px;
        font-weight: bold;
    }
    
    .tab-item.active {
        background-color: #DDE2F5;
        color: #223F9A;
    }
    
    /* .tab-item:not(.active) {
        background-color: #223F9A;
        color: #304296;
    }*/
    
    /* .tab-item:nth-child(2) {
        background-color: #FF4B4B;
        color: white;
    }
    
    .tab-item.active:nth-child(2) {
        background-color: #FF4B4B;
    } */
    
    .tab-item:not(.active):nth-child(2) {
        background-color: white;
        color: #012064;
    }

    /* 航班 卡片---------------------------------------- */
    
    .filter{
        margin-bottom: 12px;
        color: #A1A1A1;
    }

    .tickets > li{
        margin-bottom: 32px;
    }

    .tickets .card{
        display: flex;
        background-color: #fff;
        /* outline: 1px solid red; */
        border-radius: 8px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.10) );
    }

    .infoWrapper{
        /* width: 572px; */
        padding: 66px 46px;
        position: relative;
        cursor: pointer;
        /* margin: auto; */
    }

    .tickets .flightNo{
        display: flex;
        position: absolute;
        top: 18px;
        left: 16px;
        color: #A1A1A1;
    }
    
    .info{
        color: #223F9A;
        width: 480px;
    }

    .info div{
        display: flex;
        justify-content: space-between;
    }

    .time{
        color: #7488C2;
    }

    .time h4{
        color: #304296;
    }

    .info2{
        align-items: flex-start;
    }

    .line{
        background-color: #7488C2;
        border-radius: 3px;
        margin: 4px 16px;
        width: 100%;
        height: 3px;
   }

   /* 艙等按鈕------------------------------------ */
   .tickets button{
        min-width: 56px;
        /* background: none; */
        color: #223F9A;
        /* cursor: pointer; */
        /* border: none; */
   }

   /* 艙等選擇------------------------------------ */
    .class{ 
        width: 596px;
        overflow: hidden;
    }

    .classSel{
        display: flex;
        position: relative;
    }

    .classSel li{
        min-width: 298px;
        height: 187px;
        color: white;
        padding: 27px 24px;
        box-sizing: border-box;
        border-right: 2px solid #fff;
        cursor: pointer;
    }

    .classWrapper > :first-child{
        margin-bottom: 77px;
    }

    .priceFrom{
        display: flex;
        margin-bottom: 4px; 
        align-items: flex-end;
    }

    .price{
        display: flex;
        align-items: flex-end;
    }

    .priceFrom h2{
        margin-right: 6px;
    }

    .priceFrom h5{
        margin-right: 6px;
    }

    .econ{
        background-color: #223F9A;
    }

    .econPrem{
        background-color: #012064;
    }

    .busi{
        background-color: #B01F24;
    }

    .first{
        background-color: #701e96;
    }

    .priceLine {
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background-color: #fff;
    }

/* 票等細節 下拉視窗------------------------------------------------- */

.colorBar{
    width: 100%;
    height: 16px;
    background-color: #223F9A;
}

#darkBar{
    background-color: #012064;
}

#redBar{
    background-color: #b01f24;
}

#purpleBar{
    background-color: #701e96;
}


.levels{
    width: 100%;
    /* height: 610px; */
    background-color: #fff;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.10));
    display: flex;
}

/* @media screen and (max-width: 1312px){

    .levels{
width: 60%;
    }
}


@media screen and (max-width: 600px){

    .levels{
width: 100%;
    }
} */


/* .levels.hide{
    display: none;
} */

.levels .top{
    background-color: #DDE2F5;
    color: #304296;
    padding: 32px;
}

.levels .top > :first-child{
    margin-bottom: 16px;
    font-weight: bold;
    color: #061A3A;
}

.levelPrice{
    display: flex;
    align-items: flex-end;
}

.levels li{
    flex-grow: 1;
    outline: 1px solid #F1F6FF;
    min-width: 256px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: white;
}


.levels .level4 .top h5{
    margin-bottom: 20px;
}

.level4E .compare{
    height: 496px;
    background-image: url('../img/prem.png');
    background-size:cover;
    background-position: -150px;
    /* border-radius: 0 0 8px 0; */
}

.level4EP .compare{
    height: 496px;
    background-image: url('../img/busi.jpg');
    background-size:cover;
    background-position: -250px;
}

.level4B .compare{
    height: 496px;
    background-image: url('../img/first.jpg');
    background-size:cover;
    background-position: -350px;
}

.level4F .compare{
    height: 496px;
    background-image: url('../img/tokyo.jpg');
    background-size:cover;
    background-position: -900px;
}

.compare{
    padding: 32px;
    box-sizing: border-box;
    /* background-color: rgb(255, 255, 255); */
}

.compItem{
    display: flex;
    margin-bottom: 8px;
    color: #cacaca;
    align-items: baseline;
}

.compare .upgrade{
    display: flex;
    justify-content: space-between;
}

.compare p{
    margin-bottom: 32px;
    padding: 0 18px;
    color:#012064;
}

.upgrade p{
    margin-bottom: 8px;
}

/* 航班細節overlay-------------------------------- */

.flightDetail{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    backdrop-filter: blur(1px);
    position: fixed;
    left: 0;
    top: 0;

    display: none;
}

.flightDetail .popup{
    width: 774px;
    /* height: 326px; */
    background-color: #fff;
    border-radius: 16px;
    padding: 48px 44px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}

.popup > i {
    position: absolute;
    font-size: 32px;
    color: #223F9A;
    top: 8px;
    right: 8px;
    margin: 0;
    cursor: pointer;
}

.flightDetail .title{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 8px;
    color: #012064;
}

.flightDetail .content{
    background-color: #F1F6FF;
    border-radius: 8px;
    padding: 24px 34px 40px 34px;
}

.flightDetail .top{
    display: flex;
    margin-bottom: 36px;
    color: #898989;
    justify-content: space-between;
}

.flightDetail .airline{
    display: flex;
    font-weight: bold;
    color: #012064;
}

.flightDetail img{
    height: 16px;
}

.flightDetail .bottom{
    display: flex;
    margin: 0 auto;
    /* width: 618px; */
}

.flightDetail .bottom div{
    /* margin: 0 30px; */
    flex-grow: 1;
}

.flightDetail .bottom h5{
    color: #898989;
}

.flightDetail h2{
    color: #223F9A;
    margin-bottom: 4px;
}

.flightDetail .bottom h5{
    color: #898989;
}

.flightDetail .depart{
    min-width: 140px;
}

.flightDetail .depart > :nth-child(2){
    margin-bottom: 8px;
}

.flightDetail .arrive > :nth-child(2){
    margin-bottom: 8px;
}

.flightDetail .trip{
    margin-top: 12px;
    flex-grow: 2;
    width: 100%;
}

.flightDetail .trip .time{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.flightDetail .trip .line{
    margin: 0;
    width: 100%;
}

.flightDetail .arrive{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 140px;
}

/* popup手機版----------------------------------- */
.bottomMobile{
    display: flex;
    display: none;
    justify-content: center ;
    gap: 16px;
}

.left .time{
    display: flex;
    margin-bottom: 0;
}

.bottomMobile .left{
    text-align: right;
}

.bottomMobile .left :nth-child(1){
    margin-bottom: 40px;
}


.bottomMobile .middle{
    width: 4px;
    margin-bottom: 16px;
    border-radius: 4px;
    background-color: #7488C2;
}

.bottomMobile .depart{
    margin-bottom: 80px;
}

.bottomMobile .arrive{
    text-align-last: left;
    align-items: flex-start;
}

/* footer----------------------------------------- */
footer{
    background-color: #304296;
    margin-top: auto;
}

.footerWrapper{
    display: flex;
    margin: 0 auto;
    max-width: 1280px;
    height: 50px;
    align-items: center;
    padding: 0 80px;
    transition: padding 0.5s ease; 
}

footer img{
    height: 30px;
}

footer h6{
    color: #fff;
    margin-left: auto;
}

/* 動畫------------------------------------------------- */

/* 票等hover------------------------------------- */
.levels li .bg-image {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/plane-departure-solid.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 375px 281px;
    transition: transform 0.7s ease-out, opacity 0.7s ease;
    transform: translateY(-300px);
    opacity: 0;
    z-index: 0;
}

.levels li:hover .bg-image {
    transform: translateY(-400px);
    opacity: 1;
}

.levels li .top, .levels li .compare {
    position: relative;
    z-index: 2;
}

/* 航班細節hover----------------------------------- */

/* .info::after {
    content: "";
    background-image: url('../img/passport-solid.svg');
    background-repeat: no-repeat;
    position: absolute;
    top: -50px;
    width: 400px;
    height: 350px;
    z-index: -1;
    opacity: 0;

    transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out;
}

.infoWrapper:hover .info::after {
    opacity: 1;
    top: -150px;
} */

/* 按鈕hover--------------------------------------- */
.scrollLeft:hover{
    background-color: #f4f4f4;
    /* background: linear-gradient(to left, #e6ecff, white); */
}
.scrollRight:hover{
    background-color: #f4f4f4;
    /* background: linear-gradient(to left, white, #e6e6e6); */
}

/* 艙等hover--------------------------------------- */
.econ .priceLine {
    transition: background-color 0.3s ease-in-out;
}
.econ:hover .priceLine {
    background-color: #6B85D4;
}

.econPrem .priceLine {
    transition: background-color 0.3s ease-in-out;
}
.econPrem:hover .priceLine {
    background-color: #6C84B8;
}

.busi .priceLine {
    transition: background-color 0.3s ease-in-out;
}
.busi:hover .priceLine {
    background-color: #DF7477;
}

.first .priceLine {
    transition: background-color 0.3s ease-in-out;
}
.first:hover .priceLine {
    background-color: #af53d9;
}