@media screen and (max-width: 1312px){
    .mainWrapper{
        width: auto;
    }
}

@media screen and (max-width: 1027px){
    input{
        width: 27vw;
    }

    select{
        width: 27vw;
    }
}

@media screen and (max-width: 700px){

    header{
        position: fixed;
        width: 100%;
        top: 0;
        filter: drop-shadow(0 0px 4px 4px rgba(0, 0, 0, 0.10));
        z-index: 3;
    }

    header img{
        display: none;
    }

    header h4{
        display: block;
        line-height: 50px;
        color: white;
        font-weight: bold;
    }

    header p{
        display: none;
    }

    .steps{
        width: 79vw;
        height: 10vw;
        margin: 70px auto 36px auto;
    }
    
    .title{
        display: none;
    }

    .info{
        width: 50vw;
    }

    .class li{
        /* height: 27vw; */
        height: 120px;
    }

    h2{
        font-size: 20px;
    }

    h3{
        font-size: 16px;
    }

    h5{
        font-size: 14px;
    }

    h6{
        font-size: 12px;
    }

    p{
        font-size: 14px;
    }
    
    .inputWrapper{
        flex-direction: column;
        margin-bottom: 16px;
    }

    input{
        width: 100%;
        margin-bottom: 16px;
    }
    
     select{
        width: 100%;
        margin-bottom: 16px;
     }

     .block1::before {
        display: none;
    }

     .gender{
        margin-bottom: 16px;
     }

     .block2{
        display: block;
     }

     .block2 a{
        width: 100%;
        display: flex;
        justify-content: center;
        text-decoration: none;
     }

     .block2 button {
        width: 100%;
        max-width: 383px;
        padding: 10px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
    }

     .passengers{
        margin-bottom: 16px;
        justify-content:center;
        gap: 32px;  
    }

    .footerWrapper{
        flex-direction: column;
        height: auto;
    }

    .footerWrapper a{
        margin: 8px auto;
    }

    .footerWrapper h6{
        margin: 0 auto;
        padding-bottom: 8px;
    }

}

@media screen and (max-width: 393px){
}
    