@import url('reset.css');

    body{
        font-family: 'Inter', 'Noto Sans TC', Arial;
        background-color: #F8F8F8;
    }

    h2{
        font-size: 28px;
        font-weight: bold;
    }

    h3{
        font-size: 24px;
        font-weight: bold;
    }

    h4{
        font-size: 20px;
        color: #304296;
        font-weight: 600;
    }

    h5{
        font-size: 16px;
        color: #B0B0B0;
    }

    h6{
        font-size: 13px;
        color: #7D7D7D;
        font-weight: 400;
    }

    p{
        font-size: 16px;
    }

    i{
        margin-right: 4px;
        font-size: 16px;
    }

    svg{
        margin-right: 4px;
        font-size: 16px;
        text-align: center;
    }

    button{
        background: none;
        cursor: pointer;
        border: none;

    }

    

/* Header-------------------------------------- */
    header{
        background-color: #304296;
        z-index: 4;
    }

    .headerWrapper{
        max-width: 1280px;
        /* margin-left: calc((100vw - 1280px)/2); */
        margin: 0 auto;
        display: flex;
        z-index: 3;
        
    }

    header img{
        height: 50px;
    }

    header h4{
        display: none;
    }

    .user{
        display: flex;
        margin: auto 0;
        margin-left: auto;
    }

    header a{
        color: #fff;
        display: flex;
        /* flex-grow: 1; */
        text-decoration: none;
        margin-right: 16px;
    }


    .steps{
        width: 544px;
        height: 75px;
        /* border: 2px solid#012064; */
        overflow: hidden;
        margin: 64px auto;
    }

    .steps img{
        width: 100%;
    }

    /* main------------------------------------ */

    .main{
        background-color:#DDE2F5;
        padding: 48px 0;
        margin: 0 auto;
        min-height: 100vh;
    }
    .mainWrapper{
        width: 1280px;
        margin: 0 auto;
        padding: 0 16px;
    }

    .block1{
        position: relative;
        margin: 0 auto;
        margin-bottom: 16px;
        background-color: #fff;
        border-radius: 16px;
        padding: 0 32px;
        padding-top: 96px;
        display: flex;
        justify-content: center;
        overflow: hidden;
        z-index: 1;
    }

    .block1::before {
        content: "";
        background-image: url('../img/passport-solid.svg');
        background-repeat: no-repeat;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: rotate(-45deg);
        width: 400px;
        height: 350px;
        z-index: -1;
    }

    .block1 h2{
        position: absolute;
        top: 32px;
        left: 32px;
        color: #012064;
    }

    .inputWrapper{
        display: flex;
        /* flex-direction: column; */
        /* width: 1280px; */
    }

    .inputWrapper > *{
        flex-grow: 1;
    }

    li h4{
        margin-bottom: 8px;
    }

    input{
        width: 280px;
        height: 36px;
        font-size: 16px;
        border-radius: 8px;
        border: none;
        box-sizing: border-box;
        padding-left: 8px;
        margin-right: 16px;
        margin-bottom: 48px;
        outline: 1px solid #B5C3F5;
    }

    select{
        width: 280px;
        height: 36px;
        font-size: 16px;
        border-radius: 8px;
        border: none;
        padding: 0 8PX;
        box-sizing: border-box;
        margin-right: 12px;
        outline: 1px solid #B5C3F5;
    }

    .gender input{
        width: 16px;
        height: 16px;
        margin-right: 0;
        outline: none;
    }

    .gender label{
        margin-right: 48px;
    }

    .gender :last-child{
        margin-right: 0;
    }

    /* block2------------------------------------- */
    .block2{
        display: flex;
        background-color: #fff;
        width: 100%;
        padding: 32px;
        box-sizing: border-box;
        border-radius: 16px;
    }

    .passengers{
        display: flex;
        gap: 56px;
    }

    .passengers li{
        min-width: 109px;
    }

    .block2 h3{
        margin-bottom: 8px;
        color: #B0B0B0;;
    }

    .passengers :nth-child(1) h3{
        color: #304296;
    }

    .block2 button{
        background-color: #223F9A;
        border-radius: 8px;
        width: 256px;
        height: 52px;
    }

    .block2 a{
        margin-left: auto;
    }

    button h4{
        text-decoration: none;
        font-weight: bold;
        color: white;
    }



/* footer----------------------------------------- */
footer{
    background-color: #304296;
}

.footerWrapper{
    display: flex;
    margin: 0 auto;
    max-width: 1280px;
    height: 50px;
    align-items: center;
}

footer img{
    height: 30px;
    margin-left: 16px;
}

footer h6{
    color: #fff;
    margin-left: auto;
    margin-right: 16px;
}
