@media screen and (max-width: 1440px){

    .mainWrapper{
        width: auto;
    }

    .info{
        width: 33.3vw;
    }

    .class li{
        min-width: 50%;
    }

}

@media screen and (max-width: 1145px){

    .mainWrapper{
        padding: 0 16px;
    }

    .headerWrapper{
        padding: 0 16px;
    }
    
    .levels{
        /* overflow: hidden; */
        overflow-x: auto;
    }

    .infoWrapper{
        padding: 66px 4.4vw;
        
    }

    /* .classWrapper > :first-child{
        margin-bottom: 49px;
    }*/

    .class li{
        min-width: 100%;
        border-right: none;
    }

    .info{
        width: 40vw;
    }

    .flightDetail .popup{
        width: 75vw;
    }

    .depart .card{
        padding: 40px 40px;
    }

    .depart .left{
        margin-right: 40px;
    }

    .depart .middle{
        display: none;
    }

    .depart .right{
        margin-left: auto;   
    }

    .depart button {
        width: 25vw;
    }

    .depart .start{
        min-width: 120px;
    }

    .depart .startTime{
        flex-direction: column;
    }

    .depart .arrive{
        min-width: 120px;
    }

    .depart .arriveTime{
        flex-direction: column;
    }

    .fullDetailWrapper{
        flex-direction: column;
        min-width: 300px;
        align-items: center;
    }

    .fullDetailLeft{
        width: 100%;
    }

    .fullDetail .divider{
        display: none;
    }

    .footerWrapper{
        padding: 0 16px;
    }

    .fullDetailRight > :first-child{
        margin:32px 0 16px 0;
    }
}

@media screen and (max-width: 700px){

    header{
        position: fixed;
        width: 100%;
        top: 0;
        filter: drop-shadow(0 0px 4px 4px rgba(0, 0, 0, 0.10));
        z-index: 1;
    }

    header img{
        display: none;
    }

    header h4{
        display: block;
        line-height: 50px;
        color: white;
        font-weight: bold;
    }

    header p{
        display: none;
    }

    .steps{
        width: 79vw;
        height: 10vw;
        margin: 70px auto 36px auto;
    }
    
    .title{
        display: none;
    }

    .info{
        width: 50vw;
    }

    .flightNo{
        top: 9px;
        left: 7px;
    }

    .flightNo i{
        font-size: 14px;
    }

    .class li{
        /* height: 27vw; */
        height: 120px;
    }

    h2{
        font-size: 20px;
    }

    h3{
        font-size: 16px;
    }

    h4{
        font-size: 18px;
    }

    h5{
        font-size: 14px;
    }

    h6{
        font-size: 10px;
    }

    .depart .card{
        padding: 28px 16px;
        margin-bottom: 64px;
    }

    .depart .card .time{
        /* display: none; */
    }

    .depart .card button{
        display: none;
    }

    .depart .left{
        margin-right: 0;
    }

    .depart .start{
        min-width: 100px;
    }

    .depart .trip{
        margin: 0;
    }

    .depart .arrive{
        min-width: 100px;
    }
    
    .classMobile{
        display: block;
    }

    .tickets > li{
        margin-bottom: 16px;
    }

    .tickets .time{
        display: none;
    }

    .tickets button{
        min-width: 38px;
        height: 120px;
        display: none;
    }

    .classSel li{
        padding: 19px 12px;
    }

    .classWrapper > :first-child{
        margin-bottom: 32px;
    }

    .priceFrom{
        display: block;
    }

    .priceLine{
        display: none;
    }

    .infoWrapper{
    padding: 42px 9px;
    }

    .daySel{
        height: 90px;
    }

    .dayWrapper li{
        padding: 16px 0;
    }

    footer img{
        height: 20px;
    }

    .flightDetail .content{
        padding: 16px;
        padding-bottom: 36px;
    }

    .flightDetail .bottom{
        display: none;
    }

    .flightDetail .bottomMobile{
        display: flex;
    }

    .fullDetail{
        padding: 0 16px;
    }

    .fullDetailLeft .stops {
        padding: 16px;
    }

}



@media screen and (max-width: 393px){
    .steps{
        /* width: 12vw; */
    }
}
    